body {
    background-color: #000;
}
h1,h2,h3,h4,h5,h6,caption{
    letter-spacing: 0.1em;
    font-weight: 500;
}
p.nav a {
    color: #FF9C00;
}
h1 {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #FFCC99;
    color: #000;
    font-weight: 500;
    margin-left: 10%;
    margin-top: 5%;
    padding-left: 30px;
    text-align: left;
    width: 80%;
}
caption {
    background-color: #FF9C00;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 20%;
}
table {
    background: #000;
}
table th {
    background-color: #AE697D;
    border-radius: 20px;
    -moz-border-radius: 20px;
    padding-left: 15px;
}